[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
vonage = "*"

[dev-packages]
flake8 = "*"
pandoc = "*"
pep8 = "*"
pytest= "*"
pytest-cov= "*"
pytest-django= "*"
requests = "2.32.0"
setuptools-markdown = "*"
twine = "*"
urllib3 = "2.2.2"
wheel = "0.38.1"
tox = "*"

[requires]
python_version = "3.7"
